<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@corbado/web-js@2.8.0/dist/bundle/index.css"
    />
    <script src="https://unpkg.com/@corbado/web-js@2.8.0/dist/bundle/index.js"></script>
  </head>
  
  <body>
    <script>
      (async () => {
        await Corbado.load({
          projectId: "{{ PROJECT_ID }}",
          darkMode: "off",
          setShortSessionCookie: "true", //set short session cookie automatically 
        });
        const authElement = document.getElementById('corbado-auth'); //Element where you want to render CorbadoAuth UI
        Corbado.mountAuthUI(authElement, {
          onLoggedIn: () => {
            //post login actions can be performed here.
            window.location.href = '/profile';
          },
        });
      })();
    </script>
    
    <div id="corbado-auth"></div>
  </body>
</html>
