<!DOCTYPE html>
<html>
<head>
    <title>Profile Page</title>
</head>
<body>

    <h2>:/protected 🔒</h2>
    <p>User ID: {{USER_ID}}</p>
    <p>Name: {{USER_NAME}}"</p>
    <p>Email: {{USER_EMAIL}}</p>
        <!-- Import Corbado SDK -->
        <script src="https://{{ PROJECT_ID }}.frontendapi.corbado.io/auth.js"></script>
        <script src="https://{{ PROJECT_ID }}.frontendapi.corbado.io/utility.js"></script>
        <!-- Logout button -->
        <button id="logoutButton">Logout</button>
      
        <script>
          // Create a new session
          const session = new Corbado.Session('{{ PROJECT_ID }}');
          // Get logout button
          const logoutButton = document.getElementById('logoutButton');
      
          // Add event listener to logout button
          logoutButton.addEventListener('click', function() {
            session.logout()
              .then(() => {
                window.location.replace("/");
              })
              .catch(err => {
                console.error(err);
              });
          });
        </script>
</body>
</html>